__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.env
dist/
build/
*.egg-info/

/.vs/python_excamples/CopilotIndices/18.6.39510.42782
/.vs/python_excamples.slnx/FileContentIndex
/.vs/set-up-a-new-repo-for/CopilotIndices/18.6.39510.42782
/.vs
